{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action=" {{ url_for('book', teacher_id=1, aday=2, atime=3) }}" class="card mb-3" method="POST">
          <div class="card-body text-center pt-5">
            <img src="../static/pict 1.png" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{ name }}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{ day }}, {{ time }}</p>
          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                  {{ form.csrf_token }}
                  {{ form.teacher_id(value=id) }}
                  {{ form.client_weekday(value=day) }}
                  {{ form.client_time(value=time) }}
                  {{ form.client_teacher(value=name) }}
              </div>

            <p>{{ form.client_name.label }}
            {{ form.client_name }}</p>

            <p>{{ form.client_phone.label }}
            {{ form.client_phone }}</p>

            {{ form.submit }}

          </div>
        </form>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}